ng-marquee {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #091a5d;
    display: flow-root;
}

.mat-card-content {
    margin-top: 3%;
}

.mat-card-content .news-details {
    position: absolute;
    top: 10%;
}
