<mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Bernard Bemshima Iorver</mat-card-title>
        <mat-card-subtitle>Benion</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/abosho.jpg">
    <mat-card-content>
        <p>Yeh This Is My Princessa ... Love Ya.. #Miss_Abosh</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">LIKE</button>
        <button mat-button color="accent">DELETE</button>
        <div class="flex-spacer"></div>
        <button mat-icon-button><mat-icon>publish</mat-icon></button>
    </mat-card-actions>


    <img mat-card-image src="/assets/images/chiki.jpg">
    <mat-card-content>
        <p>My Troublesome Kid Sis. Heart Ya.. #Chiki</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">LIKE</button>
        <button mat-button color="accent">DELETE</button>
        <div class="flex-spacer"></div>
        <button mat-icon-button><mat-icon>publish</mat-icon></button>
    </mat-card-actions>
</mat-card>